*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li{
    list-style-type:none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header - Navbar */

header{
    height: 60px;
}

.nav-bar{
    height: 100%;
    width: 100%;
    padding:5px 10px;
    font-size: 13px;
}

.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar ul>li{
    padding: 5px;
}

.circle-shadow{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover{
    background-color: aliceblue;
}

.user-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f4511e;
    text-align: center;
    color: white;
    line-height: 30px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Content */

.content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-column{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 24px;
    width: 582px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    margin: 24px;
}

.search-column:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-column .search-input{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.search-input:focus, input:focus{
    outline: none;
}

.search-column i{
    padding: 14px;
}

.buttons button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/* Footer */

footer{
    width: 100%;
}

/* Lower Footer  */

.lower-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid rgb(220, 219, 219);
}

.lower-footer li{
    padding: 0px 10px 0px 10px;
    font-size: 14px;
}

/* Lower Footer Left */

.lower-footer .footer-elements-left{
    display: flex;
}

/* Lower Footer Middle */

.lower-footer .footer-middle{
    display: flex;
    align-items: center;
}

/* Lower Footer Right */

.lower-footer .footer-elements-right{
    display: flex;
}

.lower-footer .footer-right{
    display: flex;
    justify-content: right;
}

/* Responsive */

@media screen and (max-width: 600px) {
    .search-column{
        width:90%;
        transition: width 0.2s;
        transition-timing-function:ease-in-out;
    }
    .lower-footer{
        flex-direction: column;
        height: 100px;
        align-items: center;
        transition: height 0.2s;
    }
  }
